body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Funnel Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerWrapper {
  background-color: #344361;
  height: 10vh;
  display: flex; ;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 16px 16px #344361;
}
.app {
  text-align: center;
  background-color: #b0cbe4;
  margin: auto;
  width: 80%;
  min-height: 100vh;
  box-shadow: 0px 0px 32px #647ba1;
}

@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }  
}

h1 {
  color: #b0cbe4;
  margin-top: 0px;
}

h2 {
  color: #344361
}

.fancy-font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
